@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --body-bg-color: hsl(217, 54%, 11%) ;
    --card-bg-color: hsl(216, 50%, 16%);
    --break-line: hsl(215, 32%, 27%);
    --card-text-header: hsl(0, 0%, 100%);
    --eth-cost: hsl(178, 100%, 50%);
    --hover-image: hsla(178, 100%, 50%, 0.50);
    --card-text: hsl(215, 51%, 70%);
    --card-shadow: rgba(160, 160, 160, 0.5);
    --links: hsl(0, 0%, 100%);
    --box-shadow-inner: #0c1729ff;
    --box-shadow-outer: #0c192cff;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--links);
}

a:hover {
    color: var(--eth-cost);
}

p {
    font-weight: 300;
    color: var(--card-text);
}

main {
    width: 326px;
    margin: 0 auto;
}

.card {
    background-color: var(--card-bg-color);
    padding: 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 10px 10px var(--box-shadow-inner), 0px 20px 20px 30px var(--box-shadow-outer);
}

.image {
    position: relative;
    width: 100%;
}

.preview {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hover-image);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
}

.image-overlay:hover {
    opacity: 1;
}

.card-header {
    color: var(--card-text-header);
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0 15px;
}

.card-descripion {
    font-size: 16px;
    padding-bottom: 20px;
}

.data {
    display: flex;
    justify-content: space-between;
}

.data div {
    display: flex;
    align-items: center;
}

.data img{
    padding-right: 5px;
}

.price {
    color: var(--eth-cost);
    font-size: 15px;
    font-weight: 400;
}

.line {
    background-color: var(--break-line);
    height: 1px;
    margin: 22px 0 15px;
}

.artist {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.avatar {
    width: 30px;
    border-radius: 50%;
    border: white 1px solid;
}

.artist p {
    font-size: 15px;
    margin-left: 15px;
}


footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1.5rem;
}

.attribution p { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: var(--links); 
}